/*body {
	background:blue
}*/
header {
	background-color: #DCDCDC;
	font-family: Goudy Old Style;
	padding: 25px;
	border: 25px;
	margin: 20px;
	width: 700px;
}

img {
	padding: 50px;
	border: 25px;
}

body {
	background: url(love-jumprope.jpg);
	background-repeat: repeat;   
 }

 .title {
 	font-family: Arial;
 }

 a {
 	color: #7B68EE;
 }

 .info-box {
 	display: inline-block;
 }

#motivation {
	margin: auto;
}

footer {
	text-align: center;
	font-weight: bold;
}

@media screen and (max-width: 450px) {
	a {
		display: none;
	}
}
